.catalogItem {
    border: 1px solid hsl(54, 70%, 78%);
    width: 178px;
    height: 345px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 3px;
    margin: 0 20px 25px 20px;
}


.imageWrapper {
    height: 180px;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.imageWrapper img {
    width: 100%;
    height: auto;
}


.bookTitle {
    width: 145px;
    color: #C80D44;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 14px;
}

.authorName,
.bookQuantity {
    font-size: 11px;
    font-weight: 400;
}


.bookPrice {
    font-weight: 400;
    margin-bottom: 8px;
    font-weight: 400;

}

.addToBasketBtn,
.disabled {
    font-family: 'Inter';
    width: 100%;
    height: 36px;
    margin-top: auto;
    color: #fcfcfc;
    font-size: 12px;
    font-weight: 200;
    border-radius: 3px;
    border: none
}

.addToBasketBtn {
    background: #191919;
}

.disabled {
    background: #ccc;
    cursor: not-allowed;
}