.content {
    width: 80vw;
    min-height: 85vh;
    display: flex;
    margin: 80px auto;
    margin-bottom: 45px;
    font-family: 'Jost', sans-serif;
}


.catalogContainer {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.bookHeading {
    color: #C80D44;
    margin-left: 20px;
    font-weight: 500;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
}

.filtersContainer {
    width: 20%;
    padding-left: 30px;

}

.filterHeading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.filterHeading h3 {
    margin-left: 5px;
    font-size: 17px;
    font-weight: 400;
    color: #C80D44;
}

.filterHeading img {
    height: 19px;
    width: 19px;
}

.categories {
    font-size: 15px;
    margin-top: 10px;
}

.categories ul li {
    list-style-type: none;
    margin: 7px 0;
}

.categories ul li a {
    text-decoration: none;
    color: #191919;
    font-size: 15px;
}

.categories ul li a:hover {
    color: #C80D44;
}

.noBooksMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}