.banner {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    height: 20px;
    height: 100%;
    opacity: 0.9;
}

.bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.bannerText h1 {
    font-weight: 400;
    font-size: 26px;
}

.bannerText a {
    color: #C80D44;
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}