@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


header {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;

}

.link {
    color: #191919;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

}

.links li {
    display: inline-block;
    list-style-type: nonse;
    margin-right: 13px;
}


.linksMain,
.logoWrapper,
.shopping {
    min-width: 150px;
}


.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    max-height: 22px;
    margin-right: 2px;
    width: auto;
}

.siteTitle {
    font-size: 20px;
    font-weight: 300;
}

.shopping {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.shoppingCart {
    margin-right: 20px;
    position: relative;
}

.cartItemsQuantity {
    position: absolute;
    bottom: -3px;
    left: 15px;
    background: #C80D44;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    color: #fcfcfc;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.shopping .loginButton {
    background: #191919;
    color: #fcfcfc;
    border: none;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
}

.authLink {
    display: flex;
    align-items: center;
    justify-content: center;
}


.headerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    background: #191919;
    border-top: 3px solid #C80D44;
    border-bottom: 3px solid #E7DB75;
}



.bookLinks .link {
    color: #fcfcfc;
    font-weight: 200;
    margin: 0 5px;
    font-size: 13px;
}